<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618832661758-cm939tc0iu9ut5qc34gqbgj6v3fn3in3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618832661758-cm939tc0iu9ut5qc34gqbgj6v3fn3in3</string>
	<key>API_KEY</key>
	<string>AIzaSyC7rLkaDqLlgcVCIwDOQJ-GcGuCq-NAPRo</string>
	<key>GCM_SENDER_ID</key>
	<string>618832661758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.Flick</string>
	<key>PROJECT_ID</key>
	<string>flick-54da1</string>
	<key>STORAGE_BUCKET</key>
	<string>flick-54da1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618832661758:ios:86e5761b6ba3c2d08569af</string>
</dict>
</plist>